/*BANNER ONE*/

.banner-one{
    width: 80%;
    height: 550px;
    background: url("./img/banner-one.jpeg") no-repeat center center/cover;
}

/* CONTENT */
.content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
    margin: 30px 0;
    width: 80%;
}
.content img{
    width: 100%;
    height: 23vh;
}
.content h3{
    margin: 10px 0;
}
.content p{
    margin-bottom: 17px;
}
.content a{
    padding: 10px 5px;
    color: darkturquoise;
    text-transform: uppercase;
    font-weight: bold;
    border: solid #fff;
    background: #333;
}
.content a:hover{
    text-decoration: underline;
    opacity: .7;
}
/*NAV LATE*/
.nav-late{
    /* display: none; */
    width: 20%;
    border: solid #ccc;
    float: right;
    text-align: center;
}
.aside li{
    margin: 10px 2vh;
}
.aside a{
    color: cyan;
}
.aside a:hover{
    opacity: .5;
}
.novedad{
    text-align: center;
    margin: 10px 0;
}

/*RESPONSIVE*/
@media(min-width: 871px){
    h2.novedad{
        width: 80%;
    }
}
@media(max-width: 870px){
    .nav-late{
        display: none;
    }
    
    .content{
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }
    .content img{
        width: 100%;
        height: 30vh;
    }
    .content p{
        width: auto;
    }
    .content a{
        padding: 1px 0;
    }
    .banner-one{
        width: 100%;
        height: 300px;
    }
}
@media (max-width: 500px){
    .content{
        grid-template-columns: 1fr;
        margin: 10px 0;
        padding: 40px 20px;
    }
    .content img{
        height: 25vh;
    }
    .banner-one{
        height: 190px;
    }
}