*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    background-color: rgb(12, 13, 23);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='40' viewBox='0 0 50 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%2368051e' fill-opacity='0.4'%3E%3Cpath d='M40 10L36.67 0h-2.11l3.33 10H20l-2.28 6.84L12.11 0H10l6.67 20H10l-2.28 6.84L2.11 10 5.44 0h-2.1L0 10l6.67 20-3.34 10h2.11l2.28-6.84L10 40h20l2.28-6.84L34.56 40h2.1l-3.33-10H40l2.28-6.84L47.89 40H50l-6.67-20L50 0h-2.1l-5.62 16.84L40 10zm1.23 10l-2.28-6.84L34 28h4.56l2.67-8zm-10.67 8l-2-6h-9.12l2 6h9.12zm-12.84-4.84L12.77 38h15.79l2.67-8H20l-2.28-6.84zM18.77 20H30l2.28 6.84L37.23 12H21.44l-2.67 8zm-7.33 2H16l-4.95 14.84L8.77 30l2.67-8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    color: #fff;
    font-family: 'Anek Malayalam', sans-serif;
    font-family: 'Oswald', sans-serif;
}
a{
    color: #fff;
    cursor: pointer;
}
.esta{
    color: #ce7d35;
}
.pag{
    width: 90%;
    margin: auto;
}
.tittle{
    color: aqua;
    float: right;
    font-size: 2rem;
}
@media (min-width: 871px){
    /*DESPLEGABLE*/
    .sub-menu{
        flex-direction: column;
        position: absolute;
        background: #333;
        padding: 0.5rem 0.5rem;
        display: none;
    }
    .sub-menu2{
        flex-direction: column;
        position: absolute;
        background: #333;
        padding: 0.5rem 0.5rem;
        display: none;
    }
    .apartado:hover+.sub-menu,
    .sub-menu:hover{
        display: flex;
    }
    .apartado2:hover+.sub-menu2,
    .sub-menu2:hover{
        display: flex;
    }
    .nav-menu a:hover{
        color: #ce7d35;
        transition: all .3s;
        border-bottom: 2px solid #fff;
    }
    /*SEARCH*/
    .search-btn,
    .icon-X{
        display: none;
    }
}

.menu-img{
    width: 20px;
}
/*NAV*/
.nav-web{
    font-size: 17px;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
}
.logo{
    width: 50px;
    border-radius: 100%;
}

/*NAV LEFT*/
.nav-menu{
    display: flex;
    flex: 1;
    margin-left: 20px;
}
.nav-menu li{
    padding: 10px;
}
main{
    margin: 10px 0;
}

/*SEARCH*/

/*RESPONSIVE*/
.menu-btn {
    cursor: pointer;
    position: absolute;
    top: 15px;
    left: 30px;
    z-index: 2;
    display: none;
}


/*media*/
@media (max-width: 870px){
    .nav-late{
        display: none;
    }
    .inin{
        margin-left: 50px;
    }
    .menu-btn{
        display: block;
    }
    .menu-btn.show{
        opacity: 0.5;
    }
    .nav-web ul.nav-menu{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: #2f3640;
    width: 30vh;
    height: auto;
    padding: 30px;
    opacity: .9;
    transform: translateX(-300px);
    transition: transform 0.5s ease-in-out;
    margin-top: 11vh;
    
    }
    .nav-web ul.nav-menu.show{
        transform: translateX(-53px);
    }
    .nav-menu li{
        padding: 20px;
        font-size: 14px;
        border-bottom: #ccc solid 1px;
    }
    .nav-menu-righttt {
        margin-right: 50px;
    }
    .sub-menu{
        display: none;
        padding: 0 0;
        transform: translatex(-20px);
    }
    .sub-menu.show{
        display: block;
    }
    .sub-menu2{
        display: none;
        padding: 0 0;
        transform: translatex(-20px);
    }
    .sub-menu2.show{
        display: block;
    }
    /*SEARCH*/
    .xmark-btn{
        display: none;
    }
    .search-btn,
    .xmark-btn{
        cursor: pointer;
    }
    .search-btn.show{
        display: none;
    }
    .xmark-btn.search{
        display: block;
    }
    .icon-X{
        float: right;
        margin-left: 1vh;
    }
    .input-search{
        display: none;
    }
}
@media (max-width: 350px){
    .tittle{
        font-size: 1.4rem;
        margin: 10px 0;
    }
}