.menu-btn {
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 30px;
    z-index: 2;
    display: none;
}


@media(max-width: 800px){
    .nav-late{
        display: none;
    }
    .menu-btn{
        display: block;
    }
    .menu-btn:hover{
        opacity: 0.5;
    }
    .nav-menu{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: #2f3640;
        width: 50%;
        height: 100vh;
        border-right: #ccc 1px solid;
        opacity: 0.9;
        padding: 30px;
        transform: translateX(-500px);
        transition: transform 0.5s ease-in-out;
    }
    .nav-menu li{
        padding: 20px;
        border-bottom: #ccc solid 1px;
        font-size: 14px;
    }
    .nav-menu li:last-child{
        border-bottom: 0;
    }
    .sub-menu{
        flex-direction: column;
        position: absolute;
        background: #2f3645;
        padding: 0.5rem 0.5rem;
        display: none;
        opacity: .9;
    }
    .nav-menu.show{
        margin-right: 50px;
    }
    .nav-menu-right {
        margin-right: 50px;
    }
    .content{
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }
    .content img{
        width: 100%;
        height: 30vh;
    }
    .content p{
        width: auto;
    }
    .content a{
        padding: 1px 0;
    }
    .banner-one{
        width: 100%;
        height: 300px;
    }
}
@media (max-width: 500px){
    .content{
        grid-template-columns: 1fr;
        margin: 10px 0;
        padding: 40px 20px;
    }
    .content img{
        height: 25vh;
    }
    .banner-one{
        height: 190px;
    }
}